<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/style.css" />
    <title>Home</title>
  </head>
  <body>
    <div class="col3-ft bg01">
      <h1>Tag and Rate your favourite locations</h1>
      <div class="tm-dl-teal">
        <a href="{{url_for('add')}}">Tag Location</a>
        <a href="../templates/view_all.html">View Saved</a>
        <a href="../templates/delete.html">Delete Location</a>
      </div>
    </div>
  </body>
</html>
