<!DOCTYPE html>

<html>
  <head>
    <title>Login</title>
  </head>
  <body>
    <div class="container">
      <h1>Login</h1>
      <form method="POST" action="{{ url_for('login') }}">
        <p>{{ form.csrf_token }}</p>
        <p>{{ form.email.label }}</p>
        <p>{{ form.email(size=30) }}</p>
        {% for err in form.email.erros %}
        <span style="color: red">{{err}}</span>
        {% endfor %}
        <p>{{ form.password.label }}</p>
        <p>{{ form.password(size=30) }}</p>
        {% for err in form.password.erros %}
        <span style="color: red">{{err}}</span>
        {% endfor %} {{form.submit}}
      </form>
    </div>
  </body>
</html>
